/* Master Styles */

.search 
{
    overflow: hidden;
    background-color: white;
	margin-right: 1px;
	color: #111110;
}

  
.search a 
{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.search a:hover 
{
    background-color: #ddd;
    color: black;
}
  
.search a.active 
{
    background-color: #2196F3;
    color: white;
}
  
.search input[type=text] 
{
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
}

body
{
    margin: 10px;
    padding: 0;
	line-height: 1.5em;
	font-family: Verdana, Arial, san-serif;
	font-size: 11px;
	color: #ffffff;
	background: #4b4743;
	position: relative;
}

a:link, a:visited { color: #e6e154; text-decoration: none; font-weight: bold;} 
a:active, a:hover { color: #e6e154; text-decoration: underline;}

p {
	margin: 0px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
    border: none;
    object-fit:cover;
}

.cleaner {
	clear: both;
	width: 100%;
	height: 1px;
	font-size: 1px;	
}

.cleaner_with_height {
	clear: both;
	width: 100%;
	height: 30px;
	font-size: 1px;	
}

.cleaner_with_width {
	float: left;
	width: 20px;
	height: 30px;
	font-size: 1px;	
}

.buy_now_button a{
	clear: both;
	text-align: center;
	display: block;
	width: 100px;
	padding: 4px 0 5px 0;
	background: url(images/templatemo_menu_bg.jpg) no-repeat;
	color: #FFFFFF;
	margin: 0;
	position: absolute;
	bottom:1%;
	left: 50%;
	border-radius: 12px;
}

#container
{
	width: 950px;
	margin: 0 auto;
	padding: 0 20px;
	background: #1c1c1b;
	position: relative;
}

.container
{
    display: inline-block;
    cursor: pointer;
    clear: both;
	width: 100%;
	padding: 20px 0px 20px 0;
	text-align: center;
	border-top: 2px solid #25211e;
	color: #999;
	background-color: #111110;
	position: relative;
}

.fill {object-fit: fill;}

* header */
#header {
	clear: both;
	width: 960px;
	height: 285px;
	padding: 0;
	margin: 0;
	background: url(images/classics-old-books-feature-640x340.jpg) no-repeat;
}

#header a,a:hover {
	color: #ffffff;
}


#content {
	clear: both;
	width: 920px;
	padding: 0 20px;
}

#content #content_left {
	float: left;
	width: 188px;
	padding: 10px;
	background-color: transparent;
	border: 1px solid #212120;
}


#content_left .content_left_section{
	clear: both;
	padding-bottom: 10px;
	border-bottom: 1px solid #2b2b2a;
	margin-bottom: 20px;
}

.content_left_section h1 {
	font-size: 14px;
	color: #cbc750;
	padding: 0 0 5px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px dotted #cbc750;
}

.content_left_section ul {
	padding: 0;
	margin: 0;
}

.content_left_section ul li{
	padding: 0 0 3px 10px;	
	list-style: none;
}

.content_left_section ul li a{
	font-weight: normal;
	text-decoration: none;
	color: #969547;
}

.content_left_section li a:hover, .content_left_section li .current{
	color: #fcf88e;
}



#content_right .product_box {
	float: right;
	width: 190px;
	height: 210px;
	padding: 10px;position: relative;
	border: 2px solid #333;
}



#content_right h1 {
	padding: 10px;
	margin: 0 0 20px 0;
	font-size: 15px;
	color: #cbc750;
}

#content_right h2 {
	padding: 0 0 0 0;
	margin: 0 0 20px 0;
	font-size: 12px;
	color: #e6e154;
}

#content_right h3 {
	padding: 0;
	margin: 0 0 20px 0;
	font-size: 18px;
	color: #85391f;
}

#content_right ul {
	margin: 0 0 20px 0;
	padding: 0 0 0 20px;
	list-style: none;
}

#content_right li {
	padding: 0 0 3px 0;
}

#right .image_panel {
	float: left;
	width: 100px;
	margin-right: 20px;
}

#content_right p {
	text-align: justify;
	padding: 0 0 8px 0;
}

.product_box h1 span {
	font-weight: normal;
}

.product_box img {
	float: left;
	margin-right: 20px;
}

.product_box .product_info {
	float: left;
	width: 100px;

}

.product_info p {
	margin-bottom: 15px;
}

.nav-wrapper 
{
     display: flex;
     justify-content: space-between;
     padding: 38px;
}

.left-side
{
    display: flex;
}

.nav-wrapper > .left-side > div
{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper 
{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a 
{
    color:#2b2b2a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover
{
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover
{
    color: black;
}


.portfolio-items-wrapper
{
    display: grid;
    grid-template-columns: 1fr;
}

.portfolio-item-wrapper
{
    position: relative;
}




/* footer */
#footer 
{
	clear: both;
	width: 1329px;
	padding: 20px 0px 20px 0;
	text-align: center;
	border-top: 1px solid #25211e;
	color: #999;
	background-color: #111110;
}

#footer a
{
	color: #fff;
    font-weight: normal;
    text-transform: uppercase;
}
